@media (max-width: 1000px) {
  .desktop-nav {
    display: none !important;
  }
  .mobile-nav {
    display: flex !important;
  }
}
.mobile-nav {
  display: none;
}
@media (min-width: 1001px) {
  #mobile-menu-btn {
    display: none !important;
  }
}